.container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    border-bottom: 1px solid rgb(192, 192, 192);

    .title {
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;
    }

    .nav {
        .nav-link {
            font-weight: 500;
            padding: 8px 8px;
        }
    }
}
