<div class="container">
  <a class="title" href="#">Renan.dev</a>
  <ul class="nav justify-content-end">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">Sobre</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects">Projetos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contato</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
