.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 36px;
        font-weight: 500;
        margin: 24px 0px;
    }

    .card {
        margin-bottom: 24px;
        width: 800px;

        .card-body {
            
            h2 {
                font-size: 24px;
                align-content: baseline;

                svg {
                    vertical-align: text-bottom;
                    width: 30px; 
                    height: 30px;
                }

                .material-icons {
                    vertical-align: text-top;
                }

                .mail {
                    margin-top: 2px;
                }

            }
    
            p {
                color: rgb(172, 172, 172);
                font-weight: 500;
            }

            a {
                color: var(--bs-link-color);
                text-decoration: none;
                font-weight: 500;
                cursor: pointer;
                height: 24px;
            }

            .material-icons {
                vertical-align: text-top;
            }

            .done {
                margin-top: -7px;
                margin-left: 4px;
                color: var(--bs-link-color);
            }

            .alert {
                color: rgb(172, 172, 172);
                font-size: 10px;
                font-weight: 500;
                vertical-align: top;
                padding: 0;
                margin-left: 4px;
            }
        }
    }
}

@media screen and (max-width: 1366px) {
    .container-main {
        width: 80vw;

        .card {
            width: 70vw;
        }
    }
}


@media all and (max-width: 768px) {
    .container-main {
        width: 80vw;

        .card {
            width: 70vw;
        }
    }
}


@media screen and (max-width: 450px) {
    .container-main {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        h1 {
            font-size: 44px;
            font-weight: 500;
        }
    
        .card {
            margin-bottom: 36px;
            padding: 8px;
            width: 90vw;
    
            .card-body {
                
                h2 {
                    font-size: 44px;
                    margin-bottom: 12px;

                    svg {
                        width: 44px; 
                        height: 51px;
                    }

                    .material-icons {
                        visibility: hidden;
                    }
    
                }
        
                p {
                    font-size: 20px;
                    font-weight: 500;
                    line-height: normal;
                    margin-bottom: 12px;
                }
                
                a {
                    font-size: 20px;
                    margin-bottom: 12px;
                }
                
                .material-icons {
                    height: 12px;
                }

                .alert {
                    font-size: 10px;
                    margin-left: 4px;
                }
            }
        }
    }
}