.container-main {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .content {
        padding: 24px;

        .title h1 {
            font-weight: 700;
            font-size: 46px;
        }

        .main {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 36px;
            position: relative;

            .context {
                h3 {
                    font-weight: 500;
                    font-size: 24px;
                    margin-top: 22px;
                }

                p {
                    color: rgb(172, 172, 172);
                    font-weight: 500;
                }
            }
        }
    }
       
}

@media screen and (max-width: 1366px) {
    .container-main {
        width: 70vw;
    }
}


@media all and (max-width: 768px) {
    .container-main {
        width: 80vw;
    }
}


@media screen and (max-width: 450px) { 
    .container-main {
        width: 100vw;
    
        .content {

            .title{ 
                h1 {
                    font-size: 44px;
                    line-height: normal;
                    padding: 0px;
                }
            }
    
            .main {
                line-height: normal;
                margin-top: 0px;
                .context {
                    h3 {
                        font-size: 32px;
                    }

                    p {
                        font-size: 20px;
                        padding-right: 0;
                        margin-bottom: 21px;
                    }
                }
            }
        }
    }
}