<div class="container-div">
  <div class="content">
    <div class="title">
      <h1>Sobre mim</h1>
    </div>
    <div class="main">
      <div class="images">

        <div class="first-image">
          <img [src]="imagem">
        </div>
        <div class="second-image">
          <img [src]="imagemDois">
        </div>
      </div>
      <div class="context">
        <p>
          Meu nome é Renan Perin Ribeiro, tenho 23 anos e criei este site para compartilhar meu conhecimento e experiências.
        </p>
        <p>
          Iniciei minha jornada na programação com o objetivo de mudar de vida e buscar um futuro melhor. Comecei aprendendo HTML e CSS pelo cursoemvideo, completando os módulos de 1 a 5. Esses estudos me proporcionaram uma compreensão mais clara da programação, já que era um mundo novo para mim.
        </p>
        <p>
          Após HTML e CSS, decidi aprender JavaScript, que era um assunto mais complexo. Realizei cursos tanto no cursoemvideo quanto na Udemy, com o instrutor Daniel Tapias Morales da Serliv Cursos.
        </p>
        <p>
          Com uma base sólida nos fundamentos, decidi trabalhar com um framework. Primeiramente escolhi o React e aprendi através do curso na Udemy ministrado por Matheus Battisti. Tive a oportunidade de participar de um projeto voluntário com um amigo, no qual desenvolvemos um site de quadro Kanban desde o início. Utilizamos o Bitbucket e aprendi sobre pipelines e a importância da organização das tarefas no projeto.
        </p>
        <p>
          No entanto, minha verdadeira paixão surgiu quando fui contratado para um projeto freelance com Angular. Aprendi tudo sobre essa tecnologia e percebi que em projetos desse porte, tudo é muito diferente do que se aprende em cursos e projetos na internet. Minha experiência nesse projeto foi enriquecedora e superou tudo que já havia aprendido.
        </p>
      </div>
    </div>
  </div>
</div>