.container-main {
    width: 80%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    .content {
        padding: 24px;

        .title h1 {
            font-weight: 700;
            font-size: 46px;
            padding-left: 96px;
        }

        .main {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 36px;
            position: relative;

            .images {
                .first-image {
                    position: absolute;
                    width: 368px;
                    height: 160px;
                    top: 56px;
                    left: 96px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 24px;
                    }
                }
                .second-image {
                    position: absolute;
                    width: 368px;
                    height: 160px;
                    top: 350px;
                    left: 96px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 24px;
                    }
                }
            }
            
            .context {
                width: 80%;

                p:nth-child(odd) {
                    color: rgb(172, 172, 172);
                    font-weight: 500;
                    padding-right: 50%;
                    margin-bottom: 36px;
                }
                p:nth-child(even) {
                    color: rgb(172, 172, 172);
                    font-weight: 500;
                    padding-left: 50%;
                    margin-bottom: 36px;
                }
            }
        }
    }
       
   .right {
        background-color: blue;
        width: 50%;
        padding: 24px;
   }
}

@media (max-width: 450px) { 
    .container-main {
        width: 90%;
        height: 100%;
    
        .content {
            .title{ 
                h1 {
                    font-size: 86px;
                    padding: 80px 56px;
                }
            }
    
            .main {
                line-height: normal;
                .images {
                    .first-image {
                        visibility: hidden;
                    }
                    .second-image {
                        visibility: hidden;
                    }
                }
                
                .context {
                    width: 90%;
    
                    p:nth-child(odd) {
                        font-size: 56px;
                        padding-right: 0;
                    }
                    p:nth-child(even) {
                        font-size: 56px;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}