.container-main {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .content {
        padding: 24px;

        .title h1 {
            font-weight: 700;
            font-size: 46px;
        }

        .main {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            margin-top: 36px;
            position: relative;

            .images {
                .first-image {
                    position: absolute;
                    width: 455px;
                    height: 127px;
                    top: 53px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 24px;
                    }
                }
                .second-image {
                    position: absolute;
                    width: 455px;
                    height: 169px;
                    top: 258px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 24px;
                    }
                }
            }
            
            .context {
                p:nth-child(odd) {
                    color: rgb(172, 172, 172);
                    font-weight: 500;
                    padding-right: 50%;
                    margin-bottom: 26px;
                }
                p:nth-child(even) {
                    color: rgb(172, 172, 172);
                    font-weight: 500;
                    padding-left: 50%;
                    margin-bottom: 26px;
                }
            }
        }
    }
       
}

@media screen and (max-width: 1366px) {
    .container-main {
        width: 70vw;

        .content {
            .main {
                .images {
                    .first-image {
                        position: absolute;
                        width: 440px;
                        height: 124px;
                        top: 41px; 
                    }
                    .second-image {
                        position: absolute;
                        width: 440px;
                        height: 149px;
                        top: 246px;
                    }
                }
            }
        }
    }
}


@media all and (max-width: 768px) {
    .container-main {
        width: 80vw;

        .content {
            .main {
                .images {
                    .first-image {
                        position: absolute;
                        width: 267px;
                        height: 159px;
                        top: 75px; 
                    }
                    .second-image {
                        position: absolute;
                        width: 267px;
                        height: 221px;
                        top: 388px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 450px) { 
    .container-main {
        width: 100vw;
    
        .content {

            .title{ 
                h1 {
                    font-size: 44px;
                    line-height: normal;
                    padding: 0px;
                }
            }
    
            .main {
                line-height: normal;
                margin-top: 0px;

                .images {
                    .first-image {
                        visibility: hidden;
                    }
                    .second-image {
                        visibility: hidden;
                    }
                }
                
                .context {
    
                    p:nth-child(odd) {
                        font-size: 20px;
                        padding-right: 0;
                        margin-bottom: 21px;
                    }
                    p:nth-child(even) {
                        font-size: 20px;
                        padding-left: 0;
                        margin-bottom: 21px;
                    }
                }
            }
        }
    }
}