.container-main {
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    .projects:nth-child(odd) {
        display: flex;
        background-color: rgb(245, 245, 245);
        border-radius: 24px;
        box-shadow: 0px 0px 12px 2px rgb(172, 172, 172);
        margin-top: 40px;

        .left-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 20px -20px;

            img {
                width: 80%;
                height: 46%;
                border-radius: 24px;
                box-shadow: 2px 2px 6px 1px rgb(172, 172, 172);
            }
        }

        .grid-template {
            padding: 12px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            align-content: center;
            padding: 32px 24px 32px 40px;

            .grid-item {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .grid-item img {
                width: 100%;
                height: 150px;
                border-radius: 24px;
                box-shadow: 2px 2px 6px 1px rgb(172, 172, 172);
            }
        } 
        
        .right-panel {
            margin: 32px 32px 32px 0px;

            h1 {
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 24px;
            }

            p {
                font-weight: 500;
                color: rgb(172, 172, 172);
                margin-bottom: 24px;
            }

            a {
                color: white;
                text-decoration: none;
                font-weight: 700;
                background-color: var(--bs-link-color);
                border-radius: 22px;
                border: 1px solid black;
                padding: 12px;
            }
        } 
    }

    .projects:nth-child(even) {
        display: flex;
        background-color: rgb(245, 245, 245);
        border-radius: 24px;
        box-shadow: 0px 0px 12px 2px rgb(172, 172, 172);
        margin-top: 40px;

        .left-panel {
            margin: 32px 0px 32px 32px;

            h1 {
                font-size: 36px;
                font-weight: 700;
                margin-bottom: 24px;
            }

            p {
                font-weight: 500;
                color: rgb(172, 172, 172);
                margin-bottom: 24px;
            }

            a {
                color: white;
                text-decoration: none;
                font-weight: 700;
                background-color: var(--bs-link-color);
                border-radius: 22px;
                border: 1px solid black;
                padding: 12px;
            }
        }
        
        .right-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin: 20px -20px;

            img {
                width: 80%;
                height: 46%;
                border-radius: 24px;
                box-shadow: 2px 2px 6px 1px rgb(172, 172, 172);
            }
        }

        .grid-template {
            width: 2200px;
            padding: 12px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            align-content: center;
            padding: 32px 40px 32px 24px;

            .grid-item {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .grid-item img {
                width: 100%;
                height: 150px;
                border-radius: 24px;
                box-shadow: 2px 2px 6px 1px rgb(172, 172, 172);
            }
        } 
    }
}

@media screen and (max-width: 1366px) {
    .container-main {
        width: 90vw;
    }
}


@media all and (max-width: 768px) {
    .container-main {
        width: 90vw;
    }
}


@media screen and (max-width: 450px) {
    .container-main {
        width: 100vw;
    
        .projects:nth-child(odd) {
            flex-direction: column-reverse;

            .left-panel {
                margin: 12px 8px 24px 0px;

                img {
                    width: 64%;
                    margin-bottom: 12px;
                }
            }

            .grid-template {
                width: 100%;

                 .grid-item img {
                    height: 127px;
                }
            } 
    
            .right-panel {
                width: 100%;
                height: auto;
                margin: 24px 8px 24px 0px;
                padding: 16px;
                
                h1 {
                    font-size: 44px;
                    line-height: normal;
                    margin-bottom: 21px;
                }
                
                p {
                    font-size: 20px;
                    line-height:normal;
                    margin-bottom: 21px;
                }
                
                a {
                    font-size: 14px;
                    border-radius: 16px;
                }
            } 
        }
        
        .projects:nth-child(even) {
            flex-direction: column;
            
            .left-panel {
                width: 100%;
                height: auto;
                margin: 24px 0px 24px 8px;
                padding: 16px;
                
                h1 {
                    font-size: 44px;
                    line-height: normal;
                    margin-bottom: 21px;
                }
    
                p {
                    font-size: 20px;
                    line-height:normal;
                    margin-bottom: 21px;
                }
    
                a {
                    font-size: 14px;
                    border-radius: 16px;
                }
            }
            .right-panel {
                width: 100%;
                margin: 12px 0px 24px 8px;

                img {
                    width: 64%;
                    margin-bottom: 12px;
                }
            }
    
            .grid-template {
                width: 100%;
                .grid-item img {
                    height: 127px;
                }
            }
        }
    }
    
}