<div class="container-div">
  <div class="projects">
    <div class="left-panel">
      <img (click)="abrirImagemDialog(projetoCosts)" [src]="projetoCosts">
      <img (click)="abrirImagemDialog(projetoCosts2)" [src]="projetoCosts2">
    </div>
    <div class="right-panel">
      <h1>Projeto Costs</h1>
      <p>
        Este projeto, fiz quando estava aprendendo react, para servir de prática. Ele consiste em um site de gerenciamento de orçamentos em projetos.
      </p>
      <p>
        Podendo criar com nome, valor e categoria do projeto. Também possui ferramentas para edição de cada projeto criado, e foi armazenado em um arquivo json para possíveis atualizações.
      </p>
      <a href="https://github.com/renanperin7/projeto-react" target="_blank">Conferir Projeto</a>
    </div>
  </div>
  <div class="projects">
    <div class="left-panel">
      <h1>Projeto MiniBlog</h1>
      <p>
        Este Projeto fiz ao final do curso de React. Ele consiste em um site para postagens pessoais.
      </p>
      <p>
        Podendo criar conta, este site feito com react e usando firebase de backend para armazenar as informações.
        Serve para realizar postagens pessoais com título, descrição e tags para uma procura mais fácil das postagens. Também é possível comentar nas postagens de outras pessoas.
      </p>
      <a href="https://github.com/renanperin7/miniblog" target="_blank">Conferir Projeto</a>
    </div>
    <div class="grid-template">
      <div class="grid-item"><img (click)="abrirImagemDialog(projetoMiniBlog)" [src]="projetoMiniBlog"></div>
      <div class="grid-item"><img (click)="abrirImagemDialog(projetoMiniBlog2)" [src]="projetoMiniBlog2"></div>
      <div class="grid-item"><img (click)="abrirImagemDialog(projetoMiniBlog3)" [src]="projetoMiniBlog3"></div>
      <div class="grid-item"><img (click)="abrirImagemDialog(projetoMiniBlog4)" [src]="projetoMiniBlog4"></div>
      <div class="grid-item"><img (click)="abrirImagemDialog(projetoMiniBlog5)" [src]="projetoMiniBlog5"></div>
    </div>
  </div>
  <div class="projects">
    <div class="left-panel">
      <img (click)="abrirImagemDialog(projetoFormTinnova)" [src]="projetoFormTinnova">
      <img (click)="abrirImagemDialog(projetoFormTinnova2)" [src]="projetoFormTinnova2">
    </div>
    <div class="right-panel">
      <h1>Projeto Formulário</h1>
      <p>
        Este projeto eu fiz para participar de um processo seletivo para a Tinnova, no qual me orgulho bastante.
      </p>
      <p>
        Esta aplicação utiliza de bibliotecas para formalização dos inputs de cpf e número de telefone, além de usar do localstorage para armazenar as informações dos usuários
        cadastrados. Podendo criar, editar e excluir na lista de cadastrados.
      </p>
      <a href="https://github.com/renanperin7/desafio-tinnova" target="_blank">Conferir Projeto</a>
    </div>
  </div>
  <div class="projects">
    <div class="left-panel">
      <h1>Projeto Secret Word</h1>
      <p>
        Este projeto fiz para praticar o TypeScript, no qual me familiarizei bastante ao longo do curso.
      </p>
      <p>
        Aqui temos um arquivo json que armazena os objetos que são filtrados de acordo com os palpites e sendo de acordo com a dica da palavra. Utilizando regras e condições para 
        satisfazer todas as tentativas.
      </p>
      <a href="https://github.com/renanperin7/projeto-secret-word" target="_blank">Conferir Projeto</a>
    </div>
    <div class="right-panel">
      <img (click)="abrirImagemDialog(projetoSecretword)" [src]="projetoSecretword">
      <img (click)="abrirImagemDialog(projetoSecretword2)" [src]="projetoSecretword2">
    </div>
  </div>
</div>
