<div class="container-div">
  <div class="projects">
    <div class="left-panel">
      <img [src]="projetoUm">
      <img [src]="projetoUmDois">
    </div>
    <div class="right-panel">
      <h1>Projeto 1</h1>
      <p>
        Este projeto, fiz quando estava aprendendo react, para servir de prática. Ele consiste em um site de gerenciamento de orçamentos em projetos.
      </p>
      <p>
        Podendo criar com nome, valor e categoria do projeto. Também possui ferramentas para edição de cada projeto criado, e foi armazenado em um arquivo json para possíveis atualizações.
      </p>
      <a href="https://github.com/renanperin7/projeto-react" target="_blank">Conferir Projeto</a>
    </div>
  </div>
  <div class="projects">
    <div class="left-panel">
      <h1>Projeto 2</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Eum quae sit nemo itaque molestiae vel mollitia atque numquam minus neque! 
        Adipisci minus quibusdam voluptate saepe officiis magnam unde corrupti veniam.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Eum quae sit nemo itaque molestiae vel mollitia atque numquam minus neque! 
        Adipisci minus quibusdam voluptate saepe officiis magnam unde corrupti veniam.
      </p>
      <a href="https://github.com/renanperin7/projeto-react" target="_blank">Conferir Projeto</a>
    </div>
    <div class="right-panel">
      <img [src]="projetoUm">
      <img [src]="projetoUmDois">
    </div>
  </div>
  <div class="projects">
    <div class="left-panel">
      <img [src]="projetoUm">
      <img [src]="projetoUmDois">
    </div>
    <div class="right-panel">
      <h1>Projeto 3</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Eum quae sit nemo itaque molestiae vel mollitia atque numquam minus neque! 
        Adipisci minus quibusdam voluptate saepe officiis magnam unde corrupti veniam.
      </p>
      <a href="https://github.com/renanperin7/projeto-react" target="_blank">Conferir Projeto</a>
    </div>
  </div>
  <div class="projects">
    <div class="left-panel">
      <h1>Projeto 4</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Eum quae sit nemo itaque molestiae vel mollitia atque numquam minus neque! 
        Adipisci minus quibusdam voluptate saepe officiis magnam unde corrupti veniam.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Eum quae sit nemo itaque molestiae vel mollitia atque numquam minus neque! 
        Adipisci minus quibusdam voluptate saepe officiis magnam unde corrupti veniam.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Eum quae sit nemo itaque molestiae vel mollitia atque numquam minus neque! 
        Adipisci minus quibusdam voluptate saepe officiis magnam unde corrupti veniam.
      </p>
      <a href="https://github.com/renanperin7/projeto-react" target="_blank">Conferir Projeto</a>
    </div>
    <div class="right-panel">
      <img [src]="projetoUm">
      <img [src]="projetoUmDois">
    </div>
  </div>
</div>
