<div class="container-main">
  <div class="projects">
    <div class="left-panel">
      <img [src]="projetoSwapi">
      <img [src]="projetoSwapi2">
      <img [src]="projetoSwapi3">
    </div>
    <div class="right-panel">
      <div class="texto">
        <h1>Projeto Stars Wars</h1>
        <p>
          Este projeto fiz para praticar requisições de API.
        </p>
        <p>
          Apresento-lhe um website por mim desenvolvido, que utiliza a API do Star Wars (SWAPI) para obter informações precisas sobre personagens, veículos, planetas e naves. Com essa integração direta à API, você terá acesso a dados atualizados e detalhados do universo de Star Wars.
        </p>
      </div>
      <a href="https://swapi.renanperindev.tech" target="_blank">Conferir Projeto</a>
    </div>
  </div>
  <div class="projects">
    <div class="left-panel">
      <div class="texto">
        <h1>Projeto MiniBlog</h1>
        <p>
          Este Projeto fiz ao final do curso de React. Ele consiste em um site para postagens pessoais.
        </p>
        <p>
          Podendo criar conta, este site feito com react e usando firebase de backend para armazenar as informações.
          Serve para realizar postagens pessoais com título, descrição e tags para uma procura mais fácil das postagens. Também é possível comentar nas postagens de outras pessoas.
        </p>
      </div>
      <a href="https://miniblog.renanperindev.tech" target="_blank">Conferir Projeto</a>
    </div>
    <div class="right-panel">
      <img [src]="projetoMiniBlog">
      <img [src]="projetoMiniBlog2">
      <img [src]="projetoMiniBlog3">
      <img [src]="projetoMiniBlog4">
      <img [src]="projetoMiniBlog5">
    </div>
  </div>
  <div class="projects">
    <div class="left-panel">
      <img [src]="projetoFormTinnova">
      <img [src]="projetoFormTinnova2">
    </div>
    <div class="right-panel">
      <div class="texto">
        <h1>Projeto Formulário</h1>
        <p>
          Este projeto eu fiz para participar de um processo seletivo para a Tinnova, no qual me orgulho bastante.
        </p>
        <p>
          Esta aplicação utiliza de bibliotecas para formalização dos inputs de cpf e número de telefone, além de usar do localstorage para armazenar as informações dos usuários
          cadastrados. Podendo criar, editar e excluir na lista de cadastrados.
        </p>
      </div>
      <a href="https://tinnova.renanperindev.tech" target="_blank">Conferir Projeto</a>
    </div>
  </div>
  <div class="projects">
    <div class="left-panel">
      <div class="texto">
        <h1>Projeto Costs</h1>
        <p>
          Este projeto, fiz quando estava aprendendo react, para servir de prática. Ele consiste em um site de gerenciamento de orçamentos em projetos.
        </p>
        <p>
          Podendo criar com nome, valor e categoria do projeto. Também possui ferramentas para edição de cada projeto criado, e foi armazenado em um arquivo json para possíveis atualizações.
        </p>
      </div>
      <a href="https://costs.renanperindev.tech" target="_blank">Conferir Projeto</a>
    </div>
    <div class="right-panel">
      <img [src]="projetoCosts">
      <img [src]="projetoCosts2">
    </div>
  </div>
</div>
